<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
		</script>
	</head>
	<body>
		<div style="float: left;">
      <h1>New Graphs</h1>
      <form name="top">
{% for name, value in FormFields.items %}        <input type="hidden" id="{{ name }}" name="{{ name }}" value="{{ value.selected }}" >
{% endfor %}        <input type="submit" value="Refresh Graph" >
      </form>
			<h1>{{ title }} </h1>
			<h2> </h2>
			<th>{{ description }} </th>
			<h2> </h2>
			{{ chart.as_html|safe }}
      <div>
      </div>
		</div>
    <div style="float: left;">
			<h2> Graph Filters </h2>
      <form name="bigBoy">
        {% for name, value in FormFields.items %}
        {{ value.label }}: 
        <select name="{{ name }}">
          {% for option in value.options %}<option value="{{ option }}"{% if value.selected == option %} selected{% endif %}>{{ option }}</option>
{% endfor %}          </select><br>
        {% endfor %}<br>
        Graph Window: <br>
        <!--<input type="radio" name="windowStartRelative" value="true"{% if filterOptions.windowStartRelative == "true" %} {{ "checked" }} {% endif %}>Relative<br>
          <div style="margin-left: 40px;">
            <input id="windowStartYearsAgo" name="windowStartYearsAgo"> Years, 
            <input id="windowStartDaysAgo" name="windowStartDaysAgo"> Days, 
            <input id="windowStartHoursAgo" name="windowStartHoursAgo"> Hours, 
            <input id="windowStartMinutesAgo" name="windowStartMinutesAgo"> Minutes, and
            <input id="windowStartSecondsAgo" name="windowStartSecondsAgo"> Seconds ago.
          </div>
        <br>-->
        <!--<input type="radio" name="windowStartRelative" value="false"{% if filterOptions.windowStartRelative == "false" %} {{ "checked" }} {% endif %}>Fixed<br>-->
          <div style="margin-left: 40px;">
            Start at: 
            <input type="date" id="windowStartAtDate" name="windowStartAtDate" value="{{ filterOptions.windowStartAtDate }}">
            <select id="windowStartAtHour" name="windowStartAtHour">
              {% for option in hours %}<option value="{{ option }}"{% if filterOptions.windowStartAtHour == option %} selected{% endif %}>{{ option }}</option>
{% endfor %}</select>
            :<select id="windowStartAtMinute" name="windowStartAtMinute">
              {% for option in minutes %}<option value="{{ option }}"{% if filterOptions.windowStartAtMinute == option %} selected{% endif %}>{{ option }}</option>
{% endfor %}</select>
            :<select id="windowStartAtSecond" name="windowStartAtSecond">
              {% for option in seconds %}<option value="{{ option }}"{% if filterOptions.windowStartAtSecond == option %} selected{% endif %}>{{ option }}</option>
{% endfor %}</select>
          </div>
          <div style="margin-left: 40px;">
            End at: 
            <input type="date" id="windowEndAtDate" name="windowEndAtDate" value="{{ filterOptions.windowEndAtDate }}">
            <select id="windowEndAtHour" name="windowEndAtHour">
              {% for option in hours %}<option value="{{ option }}"{% if filterOptions.windowEndAtHour == option %} selected{% endif %}>{{ option }}</option>
{% endfor %}</select>
            :<select id="windowEndAtMinute" name="windowEndAtMinute">
              {% for option in minutes %}<option value="{{ option }}"{% if filterOptions.windowEndAtMinute == option %} selected{% endif %}>{{ option }}</option>
{% endfor %}</select>
            :<select id="windowEndAtSecond" name="windowEndAtSecond">
              {% for option in seconds %}<option value="{{ option }}"{% if filterOptions.windowEndAtSecond == option %} selected{% endif %}>{{ option }}</option>
{% endfor %}</select>
          </div>
			  <input type="submit" value="Apply Filters">
      </form>
    <div>
	</body>

</html>
