<!doctype html>
<html>
    <head>
		<title>Global Circuit Ground Station: {{ serverType }} SERVER</title>
    </head>
    <body>
	
	
		
		<div style="display: block; width: 100%;">
			<h1 >Global Circuit Ground Station</h1>
			<h1 style="color: {% if serverType == "DEVELOPMENT" %}#FF0000{% elif serverType == "PRODUCTION" %}#008000{% else %}#FF8000{% endif %};">&nbsp;{{ serverType }} SERVER</h1>
		</div>
		<div style="display: block;">
			<div style="background-color:#dddddd; display: inline-block; padding: 0em 1em 0em 1em; float: left;">
        <h2>Ground Station Features</h2>
				<!--<h2>Updated Features</h2>
				<h3>(You probably should use these)</h3>-->
				
        <a href="/dashboardV6"><button>Dashboard</button></a>
				<br><br>
				<a href="/googleMap"><button>New GPS Map</button></a>
				<br><br>
				<a href="/oldGoogleMap"><button>Old GPS Map</button></a>
				<br><br>
				<a href="/graphV6"><button>New Graphs</button></a>
				<br><br>
				<a href="/oldgraph"><button>Old Graphs</button></a>
				<br><br>
        
				<a href="/submit"><button>Uplink</button></a> (ballast and cutdown)
				<br><br>
        <a href="https://github.com/keleuk/GlobalCircuit/wiki/Uplink-Commands"><button>Uplink Command Instructions</button></a>
				<br><br>
        
        <a href="https://github.com/keleuk/GlobalCircuit/wiki/Packet"><button>Packet Structure</button></a>
				<br><br>
        
        <a href="/balloonPath.kml" download><button>Google Earth Balloon Path .kml File</button></a>
				<br><br>
        
        <a href="/csvFiles"><button>CSV Files</button></a>
				<br><br>
			</div>
		
		
			<!--<div style="background-color:#aaaaaa; display: inline-block; padding: 0em 1em 1em 1em; float: left;">
				<h2>Legacy Features</h2>
				<h4 style="float: left;">(You probably should</h4>
				<h3 style="color: #ff0000; float: left;">&nbsp;NOT&nbsp;</h3>
				<h4 style="float: left;">use these)</h4>
				<h3>Graphs: </h3>
				<form action="/gps/">
					<input type="submit" value="GPS Coordinates" />
				</form>
				
				<h3> </h3>
				
				<form action="/altitude/">
					<input type="submit" value="Altitude" />
				</form>
				
				<h3> </h3>
				
				<form action="/horizontal/">
					<input type="submit" value="Horizontal Probes" />
				</form>
				
				<h4> </h4>
				
				<form action="/vertical/">
					<input type="submit" value="Vertical Probes" />
				</form>
				
				<h5> </h5>
				
				<form action="/compass/">
					<input type="submit" value="Compass Data" />
				</form>
				
				<h6> </h6>
				
				<form action="/conductivity/">
					<input type="submit" value="Conductivity" />
				</form>
				
				<h3> </h3>
				
				<h3>Tables: </h3>
				<h3> </h3>
				<form action="/tables/">
					<input type="submit" value="Tables" />
				</form>
				
				<h3> </h3>
				<h3>Download Files: </h3>
				<h3> </h3>
				<form action="/pdf/">
					<input type="submit" value="Download PDF" />
				</form>
			
				<h3></h3>
			
				<form action="/csv/">
					<input type="submit" value="Download CSV" />
				</form>
			</div>-->
		</div>
    </body>
</html>
