<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
		</script>
	</head>
	<body>
		<div style="float: left;">
			<h1>{{ title }} </h1>
			<h2> </h2>
			<th>{{ description }} </th>
			<h2> </h2>
			{{ chart.as_html }}
		</div>
		<form style="float: left;">
			signal:<br>
			<input type="radio" name="signal" value="horizontal"{% if horizontal %} {{ "checked" }} {% endif %}>Horizontal
      <br>
			<input type="radio" name="signal" value="vertical"{% if vertical %} {{ "checked" }} {% endif %}>Vertical
      <br>
			<input type="radio" name="signal" value="compass"{% if compass %} {{ "checked" }} {% endif %}>Compass
      <br>
      <br>
			<input type="radio" name="signal" value="conductivity"{% if conductivity %} {{ "checked" }} {% endif %}>Conductivity
      <br>
      <br>
			<input type="radio" name="signal" value="gps"{% if gps %} {{ "checked" }} {% endif %}>GPS Position
      <br>
			<input type="radio" name="signal" value="gpsAltitude"{% if gpsAltitude %} {{ "checked" }} {% endif %}>GPS Altitude
      <br>
			<input type="radio" name="signal" value="iridium"{% if iridium %} {{ "checked" }} {% endif %}>Iridium Position
      <br>
      <br>
      <input type="radio" name="signal" value="supervision"{% if supervision %} {{ "checked" }} {% endif %}>Supervision
      <br>
			<input type="radio" name="signal" value="termStatus"{% if termStatus %} {{ "checked" }} {% endif %}>Termination Status
      <br>
      <br>
			
			<input type="radio" name="signal" value="cep"{% if cep %} {{ "checked" }} {% endif %}>Iridium CEP<br><br>
			
			imei:<br>
			<input type="text" name="imei" value="{{ imei }}"><br><br>
			
			Time:<br>
			From <input type="text" name="minTime" value="{{ minTime }}"> 
			to <input type="text" name="maxTime" value="{{ maxTime }}"><br><br>
			
			maxVal:<br>
			<input type="text" name="maxVal" value="{{ maxVal }}"><br>
			minVal:<br>
			<input type="text" name="minVal" value="{{ minVal }}"><br>
			volts:<br>
			<input type="text" name="volts" value="{{ volts }}"><br><br>
			<input type="submit" value="Refresh">
		</form>
	</body>

</html>
