<!DOCTYPE html>
<html lang=en>
<meta charset=utf-8>
<html>
	<head>
		<title>GEC Uplink: {{ serverType }} SERVER</title>
		<script>
			if ( window.history.replaceState )
			{
				window.history.replaceState(null,null,window.location.href.split('?')[0])
			}
		</script>
        <script src="utf8.js"></script>
	</head>
	<body>
		<div style="display: block; width: 100%;">
			<h1 >Global Circuit Ground Station</h1>
			<h1 style="color: {% if serverType == "DEVELOPMENT" %}#FF0000{% elif serverType == "PRODUCTION" %}#008000{% else %}#FF8000{% endif %};">&nbsp;{{ serverType }} SERVER</h1>
		</div>
		<div style="display: block;">
			<form>
				imei:
				<br>
				<input type="text" name="imei" value="{{ imei }}">
				<br>
				<br>
				
				message (HEX):
				<br>
				<textarea id="hexid" name="message" rows="3" cols="80"></textarea>
				<br>
				message (UTF8):
				<br>
				<textarea id="utf8id" name="humanMessage" rows="3" cols="80"></textarea>
				<br>
				<br>
				Password:
				<br>
				<textarea id="password" name="password" rows="3" cols="80"></textarea>
				<br>
				<br>
				
				<input type="submit" value="Send">
			</form>
		</div>
		<script>
            var masterBox = 0;
            
            
            
            
            
            function String2Hex(tmp) {
                var str = '';
                for(var i = 0; i < tmp.length; i++) {
                    str += tmp[i].charCodeAt(0).toString(16);
                }
                return str;
            }
            
            
            
            
            
            
            
            
			String.prototype.hex16Encode = function(){
				var hex, i;

				var result = "";
				for (i=0; i<this.length; i++) {
					hex = this.charCodeAt(i).toString(16);
					result += ("000"+hex).slice(-4);
				}

				return result
			}
			
			String.prototype.hex16Decode = function(){
				var j;
				var hexes = this.match(/.{1,4}/g) || [];
				var back = "";
				for(j = 0; j<hexes.length; j++) {
					back += String.fromCharCode(parseInt(hexes[j], 16));
				}

				return back;
			}
			String.prototype.hex8Encode = function(){
				var hex, i;

				var result = "";
				for (i=0; i<this.length; i++) {
					hex = this.charCodeAt(i).toString(16);
					result += ("000"+hex).slice(-2);
				}

				return result
			}
			
			String.prototype.hex8Decode = function(){
				var j;
				var hexes = this.match(/.{1,2}/g) || [];
				var back = "";
				for(j = 0; j<hexes.length; j++) {
					back += String.fromCharCode(parseInt(hexes[j], 16));
				}

				return back;
			}
            
            function updateBoxes()
            {
                if(masterBox == 1)
                {
                    document.getElementById('hexid').value = utf8.encode(document.getElementById('utf8id').value).hex8Encode();
                    //document.getElementById('hexid').value = String2Hex(document.getElementById('utf8id').value);
                }
                if(masterBox === 2)
                {
                    document.getElementById('utf8id').value = utf8.decode(document.getElementById('hexid').value.replace(/\s+/g, '').hex8Decode());
                    //var s = document.getElementById('hexid').value;
                    //document.getElementById('utf8id').value = decodeURIComponent(s.replace(/\s+/g, '').replace(/[0-9a-f]{2}/g, '%$&'));
                }
            }
			
			document.getElementById('hexid').addEventListener('keydown', function (event) {
				//document.getElementById('utf8id')
                masterBox = 2;
			});
			
			document.getElementById('hexid').addEventListener('keypress', function (event) {
				//document.getElementById('utf8id')
                console.log(event);
			});
			
			document.getElementById('utf8id').addEventListener('keydown', function (event) {
				//document.getElementById('utf8id')
                masterBox = 1;
			});
            
            setInterval(function(){ updateBoxes(); }, 50);
		</script>
	</body>

</html>
